* {
  margin: 0;
  padding: 0;
  font-family: "MuseoSans";
}

.container {
  width: 1170px;
  margin: auto;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px;

}

.input {
  width: 557px;
  border: 1px solid #000;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #F3F3F3;
}

.input-serch {
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 274px;
  vertical-align: middle;
  margin-left: 20px;
  background-color: #F3F3F3;
}

.input-submit {
  width: 26px;
  height: 24px;
  border: none;
  background: url(../img/search\ icon.svg) no-repeat 50% 50%;
  background-size: 100%;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-link {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 25px;
  color: #000;
}

.nav-link:hover {
  background-color: #E69A37;
  color: white;
}

.nav-link.active {
  background-color: #323232;
  color: white;
}

.slider {
  background-image: url(../img/Bg.png);
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 40px;
}

.slide-container {
  width: 650px;
  height: 394px;
}

.slide-title {
  background-color: #E69A37;
  padding: 11px 20px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

.slide-h1 {
  font-family: 'MuseoSans700';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 68px;
  color: #FFFFFF;
  margin-top: 20px;
}

.slide-description {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 20px;
}

.slide-pups {
  margin-top: 94px;
  display: flex;
  justify-content: center;
}

.slide-pup {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-right: 10px;
  cursor: pointer;
}

.slide-pup.active {
  background-color: #E69A37;
}

.slide-pup:hover {
  background: #FFFFFF;
}

.nav-main {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 67px;
}

.nav-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.nav-about__item {
  padding: 35px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #323232;
}

.nav-about__item img {
  margin-right: 15px;
}

.nav-about__item:hover {
  background: #F3F3F3;
}

.menu-button{
  display: none;
}

/* ------------------------------------------------Respons----------------------------------- */

@media (max-width: 1400px){
  .container{
    width: 1000px;
  }



  .nav-about__item{
    padding: 20px 10px;
  }


}

@media (max-width: 1199px){
  .container{
    width: 800px;
  }

  .input{
    width: 400px;
  }

  .nav-link{
    font-size: 16px;
    padding: 10px 15px;
  }

  .nav-about__item{
    font-size: 16px;
  }
}

@media (max-width: 991px){
  .container{
    width: 850px;
  }

  .slide-h1{
    font-size: 45px;
    line-height: 50px;
  }
  .nav-about{
    flex-direction: column;

  }

  .nav-about__item{
    width: 400px;
    display: flex;
    justify-content: center;
  }
  
}

@media (max-width:875px) {
  .container{
    width: 750px;
  }
}

@media (max-width: 767px) {
  .logo__img{
    width: 220px;
  }

  .container{
    width: 560px;
  }

  .input{
    width: 250px;
    min-height: 40px;
  }

  .slide-container{
    width: 500px;
  }

  .nav-link{
    display: flex;
    align-items:center;
    font-size: 16px;
  }



  .menu-button{
    position: absolute;
    display: block;
    top: 40px;
    right: 35px;
    width: 30px;
    height: 2px;
    background-color: black;
    border: none;
}
.menu-button::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    transition: transform 0.5s;
    background-color: black;
    margin-top: 7px;
}
.menu-button::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    transition: transform 0.5s;
    background-color: black;
    margin-top: 14px;
}
.menu-button-active{
    height: 0;
    background-color: red;
    z-index: 2;
}
.menu-button-active::before{
    transform: rotate(45deg);
    margin-top: 0;
    background-color: red;
    z-index: 2;
}
.menu-button-active::after{
    transform: rotate(-45deg);
    margin-top: 0;
    background-color: red;
    z-index: 2;
}

.nav-links{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 0;
  background-color: white;
  width: 250px;
  padding-bottom: 40px;
}
.nav-links-active {
  display: flex;
  z-index: 1;
}

.slide-container{
  width: 100%;
}

.input{
  display: none;
}

}

@media (max-width:576px) {
  .container{
    max-width:550px;
    width: 90%;
  }

  .slide{
    width: 100%;
  }

  .slide-h1{
    max-width: 450px;
    width: 80%;
    font-size: 30px;
    line-height: 35px;
  }

  .slide-description {
    font-size: 18px;
    line-height: 20px;
    max-width:450px;
    width: 80%;
  }

  .nav-about__item{
    max-width: 400px;
    width: 90%;
  }
  
}


/* ------------------------------------------------fonts -------------------------------------*/

@font-face {
  font-family: "MuseoSans";

  src: local("MuseoSans"),
    url(../fonts/MuseoSansCyrl-300.woff) format("woff");
}

@font-face {
  font-family: "MuseoSans700";

  src: local("MuseoSans"),
    url(../fonts/MuseoSansCyrl-700.woff) format("woff");
}